---
# ======================================================
# ROLE: Install K3s Master
# ======================================================

- name: Detect private IP of master
  shell: hostname -I | awk '{print $1}'
  register: master_ip
  changed_when: false

- name: Store private IP fact
  set_fact:
    master_private_ip: "{{ master_ip.stdout | trim }}"

- name: Install K3s server
  shell: curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="--write-kubeconfig-mode 644" sh -
  args:
    creates: /usr/local/bin/k3s

- name: Wait for server node to become Ready
  shell: kubectl get nodes --no-headers | awk '{print $2}'
  register: node_status
  until: "'Ready' in node_status.stdout"
  retries: 20
  delay: 15

- name: Read K3s node token
  shell: cat /var/lib/rancher/k3s/server/node-token
  register: k3s_token
  changed_when: false

- name: Save token to fact
  set_fact:
    master_token: "{{ k3s_token.stdout | trim }}"
