---
# ======================================================
# ROLE: Join K3s Worker
# ======================================================

- name: Join worker node to cluster
  shell: |
    curl -sfL https://get.k3s.io | \
    K3S_URL=https://{{ hostvars[groups['master'][0]].master_private_ip }}:6443 \
    K3S_TOKEN="{{ hostvars[groups['master'][0]].master_token }}" sh -
  args:
    executable: /bin/bash
    creates: /usr/local/bin/k3s-agent
